<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org/"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header class="view-size">
	<!-- 관리자페이지에서 보여질 헤더 -->
		<h1>헤더영역</h1>
		<div id="logo">
			<a href="/">로고</a>
		</div>
		<div id="user" class="flex">
			<form action="/logout" method="post" sec:authorize="isAuthenticated()">
				<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button>로그아웃</button>
			</form>
		</div>
	</header>
</html>

