<!DOCTYPE html> <!-- 카테고리 없는 레이아웃 -->
<html xmlns:th="//www.thymeleaf.org"
	 th:fragment="layout(head, main)">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/common.css">
        <th:block th:replace="${head}" />
    </head>
    <body>
        <th:block th:insert="~{common/admin-head}" />
        <th:block th:replace="${main}" />
    </body>
</html>