<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org/"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header class="view-size">
	<!-- 메인화면, 작품 리스트 접속시 보여지는 헤더 -->
		<h1>헤더영역</h1>
		<div id="logo">
			<a href="/">로고</a>
		</div>
		<div id="category" class="flex view-size">
			<!-- 카테고리 ajax로 삽입 -->
		</div>
		<div id="user" class="flex">
			<a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">관리자 페이지</a>
			<span sec:authorize="isAnonymous()">
			<a href="/signin">로그인</a>
			<a href="/signup">회원가입</a>
			</span>
			<form action="/logout" method="post" sec:authorize="isAuthenticated()">
				<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button>로그아웃</button>
			</form>
		</div>
	</header>
</html>

