<!DOCTYPE html> <!-- 시리즈 작성 페이지 -->
<html xmlns:th="//www.thymeleaf.org/" th:replace="~{ common/admin-layout :: layout( ~{this::head} , ~{this::main} ) }">
	<head>
		<meta charset="UTF-8">
		<title>시리즈 만들기</title>
	</head>
	<body>
		<main>
			<hr>
			<div class="wrap">
				<form action="/admin/series/new" method="post">
					<p>
						<span>작품명</span>
						<input type="text" name="title" placeholder="작품명을 입력해주세요.">
					</p>
					<p>
						<span>작가</span>
						<input type="text" name="writer" placeholder="작가명을 입력해주세요.">
					</p>
					<p>
						<span>장르</span>
						<select name="category">
							<option th:each="cate : ${T(com.green.nowon.domain.entity.Category).values()}"
									th:if="${cate.name() != 'NOTICE'}"
									th:value="${cate.name()}" th:text="${cate.koName()}"></option>
						</select>
					</p>
					<p id="img-area">
						<span>표지</span>
						<i class="img-wrap">
							<label >
								<span>+</span>
								<input type="file" onchange="tempUpload(this)">
							</label>
							<input type="hidden" class="bucket-key" name="bucketKey" >
							<input type="hidden" class="org-name" name="orgName" >
							<input type="hidden" class="new-name" name="newName" >
						</i>
					</p>
					<p>
						<span>줄거리</span>
						<textarea name="synopsis" cols="100" rows="10" placeholder="줄거리를 입력해주세요."></textarea>
					</p>
					<p>
						<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<button>작품 등록</button>
					</p>
				</form>
			</div>
		</main>
	</body>
</html>