<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org/" th:replace="~{ common/layout :: layout( ~{this::head} , ~{this::main} ) }">
	<head>
		 <!-- 홈화면>카테고리 // 눌러서 진입한 메인화면 -->
		 <link rel="stylesheet" href="/css/board/main.css">
		 <script src="/js/board/main.js"></script>
		<meta charset="UTF-8">
		<title>카테고리</title>
	</head>
	<body>
		<main>
			<p class="noContent" th:if="${mv.isEmpty}">게시글이 존재하지 않습니다.</p>
			<div class="wrap view-size">
				<ul class="flex">
					<li th:each="list : ${mv}">
						<a th:href="|/web/${#strings.toLowerCase(list.category)}/${list.sno}|">
							<img th:alt="${list.title}" th:src="${list.url}">
							<i class="info">
								<span class="title" th:text="${list.title}">제목</span>
								<span class="name-wrap flex">
									<span th:text="${list.writer}">작가</span>
									<span th:text="${list.favorite}" class="favorite"></span>
								</span>
							</i>
						</a>
					</li>
				</ul>
				<div class="page-wrap flex center" th:unless="${#lists.isEmpty(mv)}">
					<div th:if="${pd.from > 1}">
						<a  th:href="@{|/web/${#strings.toLowerCase(mv[0].getCategory())}?page=${pd.from-1}|}" >&lt;</a>
					</div>
					<div th:each="page : ${#numbers.sequence(pd.from,pd.to)}">
						<a th:href="@{|/web/${#strings.toLowerCase(mv[0].getCategory())}?page=${page}|}" th:text="${page}">페이지번호</a>
					</div>
					<div th:if="${pd.to < pd.tot}">
						<a  th:href="@{|/web/${#strings.toLowerCase(mv[0].getCategory())}?page=${pd.to+1}|}" >&gt;</a>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>