<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org/" th:replace="~{ common/layout :: layout( ~{this::head} , ~{this::main} ) }">
	<head>
		<link rel="stylesheet" href="/css/board/board-list.css">
		<script src="/js/board/board-list.js"></script>
	</head>
	<body>
	<!--카테고리>시리즈// 회차 리스트 -->
		<main>
		<hr>
		<div class="series-detail flex">
			<div class="thum">
				<img alt="섬네일" th:src="${thum.url}">
			</div>
			<div class="detail">
				<p th:text="${thum.series.title}">제목</p>
				<span th:text="${thum.series.writer}">작가명</span> 
				<span th:text="${thum.series.synopsis}">줄거리</span>
			</div>
		</div>
		<hr>
		<div class="view-size">
				<ul class="flex">
					<li>글번호</li>
					<li>섬네일</li>
					<li>제목</li>
				</ul>
				<hr>
					<ul class="ul-wrap" th:each="dto:${board}">
						<li>
							<a th:href="|/web/${#strings.toLowerCase(dto.series.category)}/${dto.series.sno}/${dto.bno}|">
								<span th:text="${dto.bno}">회차정보</span>
								<span><img th:alt="${dto.subTitle}" th:src="${dto.url}"></span>
								<span th:text="${dto.subTitle}">제목</span>
							</a>
						</li>
					</ul>
			</div>
		</main>
	</body>
</html>