<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:replace="~{ common/layout :: layout( ~{this::head} , ~{this::main} ) }">
	<head>
		<link rel="stylesheet" href="/css/board/board-list.css">
		<script src="/js/board/board-list.js"></script>
	</head>
	<body>
	<!--카테고리>시리즈// 회차 리스트 -->
		<main>
		<div class="series-detail flex">
			<div class="thum">
				<img alt="섬네일" th:src="${thum.url}">
			</div>
			<div class="detail">
				<p th:text="${thum.series.title}">제목</p>
				<span th:text="${thum.series.writer}">작가명</span> 
				<span th:text="${thum.series.synopsis}">줄거리</span>
			</div>
			<div class="update" sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:href="|/web/${#strings.toLowerCase(thum.series.category)}/${thum.series.sno}/update|">작품 수정</a>
			</div>
		</div>
		<hr>
		<div class="view-size">
				<ul class="flex">
					<li>글번호</li>
					<li>섬네일</li>
					<li>제목</li>
				</ul>
				<hr>
					<p class="noContent" th:if="${board.isEmpty}">게시글이 존재하지 않습니다.</p>
					<ul class="ul-wrap" th:each="dto:${board}">
						<li>
							<a th:href="|/web/${#strings.toLowerCase(dto.series.category)}/${dto.series.sno}/${dto.bno}|">
								<span th:text="${dto.bno}">회차정보</span>
								<span><img th:alt="${dto.subTitle}" th:src="${dto.url}"></span>
								<span th:text="${dto.subTitle}">제목</span>
							</a>
						</li>
					</ul>
				<div class="page-wrap flex center" th:unless="${#lists.isEmpty(board)}">
					<div th:if="${pd.from gt 1}">
						<a  th:href="@{|/web/${#strings.toLowerCase(thum.series.category)}/${thum.series.sno}?page=${pd.from-1}|}" >&lt;</a>
					</div>
					<div>
						<span th:each="page : ${#numbers.sequence(pd.getFrom,pd.tot)}">
							<a  th:href="@{|/web/${#strings.toLowerCase(thum.series.category)}/${thum.series.sno}?page=${page}|}" th:text="${page}">페이지번호</a>
						</span>
					</div>
					<div th:if="${pd.to lt pd.tot}">
						<a  th:href="@{|/web/${#strings.toLowerCase(thum.series.category)}/${thum.series.sno}?page=${pd.to+1}|}" >&gt;</a>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>