<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org/">
<div class="wrap view-size">
	<ul class="flex">
		<li th:each="list : ${mv}">
			<a href="#"> 
				<img th:alt="${list.title}" th:src="${list.url}"> 
				<i class="info">
					<span class="title" th:text="${list.title}">제목</span> 
					<span class="name-wrap flex"> 
						<span th:text="${list.writer}">작가</span>
						<span th:text="${list.favorite}" class="favorite"></span>
					</span>
				</i>
			</a>
		</li>
	</ul>
</div>
</html>