@charset "UTF-8";

a {text-decoration: none;}

#logo {
	margin: 0 20px;
	font-size: 36px;
	font-weight: 700;
	
}
#category>div:not(div:last-of-type) {
	margin: 20px auto;
	padding: 0 10px;
	
}

#category div:last-of-type{
	margin: 20px;
	padding: 0 50px;
}

#user {
	position: absolute;
	top: 5px;
	right: 50px;
	font-size: 13px;
	padding: 10px;
}
#user>a{
	padding-left: 1em; 
	
}

#user a{
	padding: 3px 5px;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
	background-color: #ffd9ec;
	color: black;
}

#user form button{
	padding: 3px 5px;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
	background-color: #ffd9ec;
	color: black;
	line-height: 1.4;
}