@charset "UTF-8";

a {text-decoration: none;}

#logo {
	font-size: 36px;
	font-weight: 700;
}
#logo>a {
	display: inherit;
	margin: 0 auto;
	text-align: center;
}

#user {
	float: right;
	top: 10px;
	font-size: 13px;
	padding: 10px;
}
#user>a{
	padding-left: 1em; 
}

#user a{
	padding: 3px 5px;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
	background-color: #ffd9ec;
	color: black;
}

#user form button{
	padding: 3px 5px;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
	background-color: #ffd9ec;
	color: black;
}