@charset "UTF-8";

div ul li a {
	display: block;
}

div ul li a span{
	display: inline-block;
	width: 100px;
	vertical-align: middle;
	margin-right: 10px;
}

div .ul-wrap li a span:nth-child(3) {
	padding-left: 50px;
}

div ul li a span:first-child{
	padding-left: 20px; 
}

div ul li a span img {
	position: inherit;
	display: block;
	width: 140px;
    height: 80px;
    padding-left: 5px;
}

div ul:first-child li{
	display: flex;
	padding: 20px;
	width: 100px;
	justify-content: center;
	border-right: 1px solid #999;
}

/* ///////////////////섬네일//////////////////////// */

.series-detail> .thum > img {
	width: 150px;
	height: 200px;
}

.series-detail> .thum {
	margin-top: 1%;
	margin-left: 15%;
}

.series-detail> .detail {
	margin: 5%;
}

.series-detail> .detail p {
	font-size: 20px;
	font-weight: 600;
}

.series-detail> .detail span:first-of-type {
	font-size: 12px;
	display: block;
	margin: 10px;	
}

.series-detail> .detail span:nth-of-type(2) {
	font-size: 14px;
	display: block;
}

.series-detail> .update {
	align-self: flex-end;
    border: 1px solid;
    border-radius: 50px;
    width: 88px;
    height: 25px;
    text-align: center;
    line-height: 1.5;
}